body {
	padding:0px;
	margin:0px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#dlg {
	position : absolute;
	top:2px;
	left:2px;
	width:312px;
	height:496px;
	z-index:1000;
	background-color:#555;
	border:3px solid #000;
	opacity : 0.8;
	display:none;
}
#dlgText {
	position : absolute;
	top:200px;
	left:2px;
	width:300px;
	background-color:white;
	text-align:center;
	z-index:1001;
}
#dlgBtnBase {
	position : absolute;
	top : 440px;
	left:2px;
	width:300px;
	height:22px;
	z-index:1001;
}
.dlgBtn {
	position : absolute;
	top:0px;
	height:20px;
	background-color:white;
	text-align:center;
	cursor:normal;
	z-index:1002;
}
.dlgBtn:hover {
	background-color:#aa0;
	cursor:pointer;
}
.basement {
	position :relative;
	top:2px;
	left:2px;
	width:312px;
	height:496px;
	border:1px solid #000;
}
.tabBox {
	position:absolute;
	top:1px;
	left:1px;
	width:308px;
	height:52px;
	border:1px solid #F00;
}
.tabPage {		/* leftは個々に */
	position:absolute;
	top:1px;
	width:75px;
	height:48px;
	border:1px solid #F00;
	background-color:white;
	cursor:normal;
}
.tabPage:hover {
	background-color:#aa0;
	cursor:pointer;
}


#friendTab	{	left:0px;	}
#roomTab	{	left:77px;	}
#chatTab	{	left:154px;	}
#manageTab	{	left:231px;	}
.tHead {
	position:absolute;
	top:0px;
	left:0px;
	width:75px;
	text-align:center;
	vertical-align:middle;
}
.tBody {
	position:absolute;
	top:34px;
	left:0px;
	width:75px;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:'normal';
	text-align:center;
	color:red;
}

.headerBox {
	position:absolute;
	top:54px;
	height:68px;
	width:308px;
	left:1px;
	border:1px solid #F00;
	display:none;
}

/*
 *  photoのcss
 */
.photoL {
	position:absolute;
	height:66px;
	width:66px;
	border:1px solid #F00;
	background-position:center top;
	background-size	:cover;
}
.photoM {
	position:absolute;
	height:48px;
	width:48px;
	background-position:center top;
	background-size	:cover;
}
.photoS {
	position:absolute;
	height:32px;
	width:32px;
	background-position:center top;
	background-size	:cover;
}
/*
 * textのcss
 */
.textL {
	position:absolute;
	height:20px;
	font-weight:'bold';
}
.textM {
	position:absolute;
	height:18px;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:'normal';
}
.textS {
	position:absolute;
	height:14px;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:'normal';
}
.textC {
	position:absolute;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:'normal';
}
.textEllipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
.textDetail {
	position:absolute;
	background-color:#99cc00;
	width:160px;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	border:1px solid #F00;
	display:none;
	z-index:100;
	padding:4px 4px;
}
/*
 * 自分のプロファイルのcss
 */
#myPhoto {
	top:0px;
	left:0px;
	background-position:center top;
	background-size:cover;
}
#myName {
	top:2px;
	left:70px;
	width:192px;
}
#myEmail{
	top:24px;
	left:70px;
	width:192px;
}
#myComment {
	top:38px;
	left:70px;
	width:192px;
}
#myLogout {
	top:2px;
	left:260px;
	width:40px;
}
#actionBtn {
	position : absolute;
	top:40px;
	left:256px;
	width:48px;
	height:24px;
	border:1px solid #F00;
	text-align:center;
	display:none;
	background-color:white;
	cursor:normal;
}
#actionBtn:hover {
	background-color:#aa0;
	cursor:pointer;
}
/* frendのcss
 * 
 */
.flName {
	top:0px;
	left:54px;
}
.flComm {
	top:20px;
	left:54px;
	width:180px;
}
/*
 * roomのcss
 */
.rmName {
	top:0px;
	left:54px;
}
.rmTime {
	top:1px;
	left:200px;
}
.rmCount { 
	top:0px;
}
.rmComm {
	top:20px;
	left:54px;
	width:180px;
}
.rmOBtn {
	top:24px;
	left:204px;
	width:46px;
	height:24px;
	text-align:center;
	border:1px solid #F00;
	background-color:white;
	cursor:normal;
}
.rmOBtn:hover {
	background-color:#aa0;
	cursor:pointer;
}
.rmIBtn {
	top:24px;
	left:254px;
	width:46px;
	height:24px;
	text-align:center;
	border:1px solid #F00;
	background-color:white;
	cursor:normal;
}
.rmIBtn:hover {
	background-color:#aa0;
	cursor:pointer;
}
.rmList {
	top:50px;
	overflow:auto;
	left:224px;
	width:76px;
	height:120px;
	text-align:center;
	border:1px solid #F00;
	display:none;
}
.rmListItem {
	position:relative;
	left:0px;
	width:76px;
	height:24px;
	text-align:center;
	background-color:white;
	cursor:normal;
}
.rmListItem:hover {
	background-color:#aa0;
	cursor:pointer;
}
/*
 * chatheaderのcss
 */
.chPhoto{
	top:0px;
	left:0px;
}
.chName {
	top:2px;
	left:72px;
}
.chCnt {
	top:2px;
	left:240px;
}
.chTime {
	top:3px;
	left:240px;
}
/*
 * chatMessageのcss
 */
.cmName {
	top:2px;
	left:36px;
}
.cmTime {
	top:21px;
	left:246px;
}
.cmTimeMe {
	top:2px;
	left:36px;
}
.cmMsg {
	top:21px;
	left:54px;
	width:180px;
	background-color:#0FF;
	border:1px solid #F44;
	padding:2px 4px;
}
.cmMsgMe {
	top:3px;
	left:94px;
	width:180px;
	background-color:#888;
	border:1px solid #F44;
	padding:2px 4px;
}
/*
 * manageのステータスのcss
 *
 */
.mnName {
	top:2px;
	left:2px;
}
.mnEntry {
	top:20px;
	left:2px;
}
.mnStatus {
	top:2px;
	left:220px;
	width:70px;
	height:20px;
	border:1px solid #F00;
	background-color:white;
	cursor:normal;
}
.mnStatus:hover {
	background-color:#aa0;
	cursor:pointer;
}
.baseBox {
	position:absolute;
	overflow:auto;
	top:126px;
	left:1px;
	width:308px;
	height:366px;
	border:1px solid #F00;
	display:none; 
}
#chatBase {
	height:300px;
}
#manageBase {
	height:332px;
}
/*******
 *
 *	chat入力バー用のCSS
 *
 */
#chatBox {
	position:absolute;
	border:1px solid #F00;
	top:430px;
	left:1px;
	width:308px;
	height:62px;
	display:none;
}
#chatEntry {
	position:absolute;
	border:1px solid #F00;
	top:2px;
	left:2px;
	width:298px;
	height:52px;
}
/*
 * manageでの友人追加ボックス
 */
#newFriendBox {
	position:absolute;
	border:1px solid #F00;
	top:462px;
	left:1px;
	width:308px;
	height:30px;
	display:none;
}
#newFriend {
	position:absolute;
	top: 2px;
	left:2px;
	height:18px;
	width:200px;
}
#newFriendAdd {
	position:absolute;
	top:2px;
	left:220px;
	width:60px;
	height:20px;
	border:1px solid #F00;
	cursor:normal;
	text-align:center;
	border:1px solid #F00;
}
#newFriendAdd:hover {
	background-color:#aa0;
	cursor:pointer;
}



/* topとheightはアイテム固有	*/
.listDock {
	position:relative;
	left:0px;
	width:304px;
	background-color:white;
	cursor:normal;
}
.border1 {
	border:1px solid #F00;
}
.listDocBox {
	position:relative;
	left:0px;
	width:304px;
	background-color:white;
	cursor:normal;
	border:1px solid #F00;
}
.listDocBox:hover {
	background-color:#aa0;
	cursor:pointer;
}
/* photoクラスと併用 */
.listPhoto {
	top:2px;
	left:2px;
}
